.wrap
  .row
    .small-12.medium-5.large-5.columns
      #card-1.card
        .front{:data => {:id => 1}}
          .graphic--xtra-small
          %h2.item--title.medium
            Panel Flip Vertical
          %p 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt est ac purus molestie suscipit nec quis leo. Proin eu mattis metus. Quisque scelerisque urna metus, in viverra augue tristique in.
        .back
          .graphic--xtra-small
          %p 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt est ac purus molestie suscipit nec quis leo. Proin eu mattis metus. Quisque scelerisque urna metus, in viverra augue tristique in.
    .small-12.medium-5.large-5.columns
      #card-2.card
        .front{:data => {:id => 2}}
          %h2.item--title.medium
            Panel Flip Vertical
          %p 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt est ac purus molestie suscipit nec quis leo. Proin eu mattis metus. Quisque scelerisque urna metus, in viverra augue tristique in. Integer varius varius neque, quis auctor turpis. Vestibulum ut risus est.
        .back
          %p 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt est ac purus molestie suscipit nec quis leo. Proin eu mattis metus. Quisque scelerisque urna metus, in viverra augue tristique in. Integer varius varius neque, quis auctor turpis. Vestibulum ut risus est.