---
CASCADR
--
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(800)", :style => "border: 1px solid blue;"} Roll mouse over for 800 Hz tone
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(400)", :style => "border: 1px solid blue;"} x
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid blue;"} Roll mouse over for 200 Hz tone
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid blue;"} Roll mouse over for 100 Hz tone
#soundStatus
.row
  .small-12.columns
    .small-3.large-1.columns
      #card1.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(900)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card2.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card3.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card4.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card5.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card6.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(900)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card7.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card8.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card9.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card10.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card11.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card12.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(800)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
.row
  .small-12.columns
    .small-3.large-1.columns
      #card13.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(700)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card14.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card15.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(400)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card16.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(800)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card17.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card18.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card19.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(900)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card20.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card21.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card22.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(700)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card23.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(400)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card24.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
.row
  .small-12.columns
    .small-3.large-1.columns
      #card25.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card26.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card27.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card28.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card29.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card30.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card31.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card32.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card33.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card34.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card35.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card36.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
.row
  .small-12.columns
    .small-3.large-1.columns
      #card37.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card38.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card39.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card40.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(400)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card41.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card42.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card43.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card44.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card45.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card46.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(125)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card47.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(350)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card48.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
.row
  .small-12.columns
    .small-3.large-1.columns
      #card49.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card50.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card51.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card52.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(150)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card53.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card54.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(225)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card55.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(125)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card56.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card57.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card58.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(125)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card59.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(350)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card60.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
.row.margin-fix
  .small-12.columns
    .small-3.large-1.columns
      #card61.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card62.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card63.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card64.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(150)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card65.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card66.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(225)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card67.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(125)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card68.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card69.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card70.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(125)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card71.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(350)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back
          
    .small-3.large-1.columns
      #card72.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"}
        .back



