---
title: CASCADR
---

%p Roll mouse over the paragraphs below to start and stop sound.
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(800)", :style => "border: 1px solid blue;"} Roll mouse over for 800 Hz tone
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(400)", :style => "border: 1px solid blue;"} x
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid blue;"} Roll mouse over for 200 Hz tone
/ %p
/   %span{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid blue;"} Roll mouse over for 100 Hz tone
#soundStatus
.row
  .small-12.columns
    .small-3.large-1.columns
      #card1.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(900)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card2.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card3.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card4.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card5.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card6.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(900)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card7.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card8.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card9.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card10.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card11.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(600)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card12.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(1000)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
.row
  .small-12.columns
    .small-3.large-1.columns
      #card13.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(150)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card14.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(650)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card15.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(400)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card16.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(800)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card17.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card18.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(1500)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card19.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(900)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card20.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card21.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(550)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card22.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(700)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card23.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(450)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card24.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
.row
  .small-12.columns
    .small-3.large-1.columns
      #card25.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card26.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card27.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card28.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(150)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card29.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(300)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card30.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(225)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card31.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(125)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card32.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(100)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card33.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(200)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card34.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(125)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card35.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(350)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
    .small-3.large-1.columns
      #card36.card
        .front
          %p{:onmouseout => "stopTone()", :onmouseover => "startTone(250)", :style => "border: 1px solid #000;" "height: 100px;" "width: 100px;"} x
        .back
          Back content
